@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
}

.container--wide {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

// typography
h6 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 24px;
    color: grey;
}
